.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeSlideshow 12s ease-in-out infinite; /* Durasi animasi 12 detik, looping */
  opacity: 0;
  z-index: 1;
}


#hero img:nth-child(1) {
  animation-delay: 0s;
}
#hero img:nth-child(2) {
  animation-delay: 4s;
}
#hero img:nth-child(3) {
  animation-delay: 8s;
}

/* Animasi keyframes */
@keyframes fadeSlideshow {
  0% {
    opacity: 0;
    z-index: 1;
  }
  33% {
    opacity: 1;
    z-index: 2;
  }
  66% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 3;
  backdrop-filter: blur(3px);
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero .btn-get-started {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(16, 173, 43);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-get-started:hover {
  background-color: rgb(13, 112, 30);
}


/* LAYANAN ITEM HOVER */
.onhover{
  transition: transform 0.5s ease-in-out;
}

.onhover:hover{
  transform: translateY(-20px) !important;
}

/* HOVER ANIMASI GALERY */
.main-image {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

/* Tambahkan kelas untuk animasi keluar */
.fade-out {
  opacity: 0;
  /* transform: translateX(-20px); */
}

/* Tambahkan kelas untuk animasi masuk */
.fade-in {
  opacity: 1;
  /* transform: translateX(0); */
}


.box-shadow{
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}
.box-shadow-lg{
  box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 0.06),
      0px 1px 1px -0.5px rgb(0 0 0 / 0.06),
      0px 3px 3px -1.5px rgb(0 0 0 / 0.06), 
      0px 6px 6px -3px rgb(0 0 0 / 0.06),
      0px 12px 12px -6px rgb(0 0 0 / 0.06),
      0px 24px 24px -12px rgb(0 0 0 / 0.06);
}
.box-shadow-xl{
  box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}